/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.0.4_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/.pnpm/next@14.0.4_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/system/system.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.system_container__RHwk8 {
  display: flex;
  gap: 80px;
}

.system_textContainer__MJ3fy {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.system_subtitle__lEEDp {
  color: var(--btn);
  font-size: 22px;
  margin-bottom: 15px;
}

.system_title__tuZ55 {
  font-size: 40px;
  line-height: 1.2;
  padding: 20px;
  text-align: center;
}

.system_desc__F0J1c {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.system_boxes__6cAzv {
  display: flex;
  flex-direction: column; /* Adjusted to stack steps vertically */
  gap: 15px; /* Added gap between steps */
  align-items: center; /* Center step titles */
}

.system_box__u1CGA {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.system_box__u1CGA h2 {
  color: var(--btn);
  font-size: 26px;
  font-weight: bold;
  margin: 0; /* Removed margin to make step titles even */
  padding-bottom: 10px; /* Added padding between step titles */
}

.system_box__u1CGA p {
  font-size: 18px;
  color: #ffffff;
  margin: 0; /* Removed margin to make step titles even */
}

.system_stepDesc__jQ5uQ {
  font-size: 13px;
  color: #414cc1;
  font-weight: 300;
  line-height: 1.5;
}

.system_imgContainer__t78zs {
  flex: 1 1;
  position: relative;
  display: flex; /* Center image within its container */
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.system_img__4y0JF {
  object-fit: contain;
}

@media (max-width: 768px) {
  .system_container__RHwk8 {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .system_boxes__6cAzv {
    flex-direction: column;
    gap: 40px;
  }

  .system_textContainer__MJ3fy {
    align-items: center; /* Center text container content horizontally */
  }

  .system_title__tuZ55, .system_desc__F0J1c {
    text-align: center;
  }
}

